html,  body {
    height: 100%;
}
body {
    display: flex;
    flex-direction: column;
}
.footer {
    flex-grow: 0;
}

.icon {
    transition: transform .2s;
}

.icon:hover {
    transform: scale(1.1);
}

.map {
    height: 100vh;
    z-index: 0;
}

.search-form {
    background: white;
    z-index: 1;
    position: absolute;
    top: 100px;
    right: 100px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: .25rem;
}

.form-group {
    margin-bottom: 0px;
}
